* {
    margin: 0;
    padding: 0;
}

body {
    background: red;
}


.swiper-container {
    width: 1200px;
    height: 600px;

    img {
        width: 1200px;
        height: 600px;
    }
}